<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to Perl executable in the local file system"
            name="perlExecutable"
            initialValue="c:\perl\bin\perl.exe"/>
   </extension>
<!--#ifdef ex1-->
<!--#else-->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="pda.sourceLocator"
            delegate="org.eclipse.debug.examples.core.pda.launcher.PDALaunchDelegate"
            name="PDA Application"
            id="pda.launchType"
            modes="run, debug"/>
   </extension>
<!--#endif-->  

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.debug.examples.core.midi.launcher.MidiLaunchDelegate"
            name="MIDI Sequence"
            id="midi.launchType"
            modes="run, debug"/>
   </extension>

<!--#ifdef ex_ec2009-->
   <!--
   TODO Exercise 3
   
   Use the org.eclipse.debug.core.sourceLocators extension point to register 
   a source locator for the PDA debugger.
   -->
<!--#else-->
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.debug.examples.core.pda.sourcelookup.PDASourceLocator"
            name="PDA Source Locator"
            id="pda.sourceLocator"/>
   </extension>
<!--#endif-->
    
<!--#ifdef ex3-->
<!--#else-->    
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.debug.examples.core.pda.breakpoints.PDALineBreakpoint"
            name="PDA Line Breakpoints"
            markerType="org.eclipse.debug.examples.core.pda.markerType.lineBreakpoint"
            id="pda.lineBreakpoint"/>
      <breakpoint
            class="org.eclipse.debug.examples.core.pda.breakpoints.PDAWatchpoint"
            name="PDA Watchpoints"
            markerType="org.eclipse.debug.examples.core.pda.markerType.watchpoint"
            id="pda.watchpoint"/>
   </extension>
   <extension
         id="pda.markerType.lineBreakpoint"
         name="PDA Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="pda.markerType.watchpoint"
         name="PDA Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.examples.core.pda.markerType.lineBreakpoint"/>
      <persistent value="true"/>
   </extension>
<!--#endif--> 

     

</plugin>
